<header>
  <nav class="header-nav">
    <span class="worldometer-logo">
      worldometer
    </span>
    <span class="corona">
      Coronavirus
    </span>
    <span class="population">
      <a href="https://www.worldometers.info/population/" style="text-decoration:none;color: black;">
        Population
      </a>
    </span>
  </nav>
</header>
<div class="covid-label">
  COVID-19 Coronavirus Pandemic
</div>
<div class="last-update">
  Last updated: May 26, 2021, 05:21 GMT
</div>
<div class="topic-links">
  <a class="weekly links" href="https://www.worldometers.info/coronavirus/weekly-trends/">Weekly Trends</a> -
  <a class="links" href="https://www.worldometers.info/coronavirus/worldwide-graphs/">Graphs</a> -
  <a class="links" href="https://www.worldometers.info/coronavirus/#countries">Countries</a> -
  <a class="links" href="https://www.worldometers.info/coronavirus/#news">News</a>
</div>
<div class="cases">
  <h1 class="cases-label">Coronavirus Cases:</h1>
  <h1 class="cases-num">{{totalCases}}</h1>
  <div class="view-by-country">
    <a href="https://www.worldometers.info/coronavirus/#countries" target="_blank">view by country</a>
  </div>
  <h1 class="cases-label">Deaths:</h1>
  <h1 class="cases-death">{{totalDeaths}}</h1>
  <h1 class="cases-label">Recovered:</h1>
  <h1 class="cases-recovered">{{totalRecovered}}</h1>
</div>

<div class="act-rec-cases-acc">
  <div class="act-cases-acc">
    <div class="accordion-item" id="accordionActive">
      <h2 class="accordion-header" id="headingActive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseActive" aria-expanded="false" aria-controls="collapseActive">
          ACTIVE CASES
        </button>
      </h2>
      <div id="collapseActive" class="accordion-collapse collapse active-cases" data-bs-parent="#accordionActive"
        aria-labelledby="headingActive">
        <div class="card">
          <div class="card__face card__face--front">
            <div class="act-current">
              <div class="act-current-num">
                {{totalActive}}
              </div>
              <div class="act-current-cont">
                Currently Infected Patients
              </div>
            </div>
            <div class="row">
              <div class="act-mild col">
                <div class="act-mild-num">
                  {{totalActive - totalCritical}}
                  <span>(99.4%)</span>
                </div>
                <div class="act-mild-cont">
                  in Mild Condition
                </div>
              </div>
              <div class="act-serious col">
                <div class="act-serious-num">
                  {{totalCritical}}
                  <span>(0.6%)</span>
                </div>
                <div class="act-serious-cont">
                  Serious or Critical
                </div>
              </div>
            </div>
            <a class="links" style="line-height: 6;">Show Graph</a>
          </div>
          <div class="card__face card__face--back">
            <div style="width: 100%;">
              <canvas baseChart [chartType]="'line'" [legend]="true" [datasets]="chartData" [labels]="chartLabels"
                [options]="chartOptions" [colors]="lineChartColors">
              </canvas>
            </div>
            <a class="links">Show Statistics</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rec-cases-acc">
    <div class="accordion-item" id="accordionRecovered">
      <h2 class="accordion-header" id="headingRecovered">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          CLOSED CASES
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse recovered-cases" aria-labelledby="headingRecovered"
        data-bs-parent="#accordionRecovered">
        <div class="rcard">
          <div class="rcard__face rcard__face--front">
            <div class="act-current">
              <div class="act-current-num">
                {{totalDeaths+totalRecovered}}
              </div>
              <div class="act-current-cont">
                Cases which had an outcome:
              </div>
            </div>
            <div class="row">
              <div class="act-mild col">
                <div class="rec-mild-num">
                  {{totalRecovered}}
                  <span>(98%)</span>
                </div>
                <div class="act-mild-cont">
                  Recovered / Discharged
                </div>
              </div>
              <div class="act-serious col">
                <div class="rec-serious-num">
                  {{totalDeaths}}
                  <span>(2%)</span>
                </div>
                <div class="act-serious-cont">
                  Deaths
                </div>
              </div>
            </div>
            <a class="links" style="line-height: 6;">Show Graph</a>
          </div>
          <div class="rcard__face rcard__face--back">
            <div style="width: 100%;">
              <canvas baseChart [chartType]="'line'" [legend]="true" [datasets]="chartDeathData"
                [labels]="chartDeathLabels" [options]="chartOptions" [colors]="lineDeathColors">
              </canvas>
            </div>
            <a class="links">Show Statistics</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="live-cases">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active">daily</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">linear</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">logarithmic</a>
    </li>
  </ul>
  <div class="bar-chart">
    <canvas baseChart [chartType]="'bar'" [legend]="true" [datasets]="barChartData" [labels]="barChartLabels"
      [options]="barChartOptions" [colors]="barChartColors">
    </canvas>
  </div>
</div>

<div class="live-cases">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active">daily</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">linear</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">logarithmic</a>
    </li>
  </ul>
  <div class="bar-chart">
    <canvas baseChart [chartType]="'bar'" [legend]="true" [datasets]="barDeathData" [labels]="barDeathLabels"
      [options]="barChartOptions" [colors]="barChartColors">
    </canvas>
  </div>
</div>
<p class="last-update update-info">The charts above are updated after the close of the day in GMT+0.
  <span class="links">
    <a href="https://www.worldometers.info/coronavirus/worldwide-graphs/" target="_blank">
      See more graphs
    </a>
  </span>
</p>
<h3 class="reported">Reported Cases and Deaths by Country or Territory</h3>
<div class="report-data">
  The <strong>coronavirus</strong> COVID-19 is affecting <strong>220 countries and territories. The day is reset after
    midnight GMT+0.</strong>
  The list of countries and their regional classification is based on the <a
    href="https://unstats.un.org/unsd/methodology/m49/" style="text-decoration:none">United
    Nations Geoscheme</a>.
  Sources are <a href="https://www.worldometers.info/coronavirus/#news" style="text-decoration:none">provided under
    "Latest News."</a> <a href="https://www.worldometers.info/coronavirus/about/"
    style="text-decoration:none"><strong>Learn more about Worldometer's COVID-19
      data</strong></a>
</div>
<div class="report-links">
  <a href="https://www.worldometers.info/report_us/">
    <strong>Report coronavirus cases</strong>
  </a>
</div>
<div class="main-buttons">
  <button type="button" class="btn btn-primary">MAIN</button> &nbsp;
  <button type="button" class="btn btn-light">WEEKLY TRENDS</button>
</div>
<div class="now-buttons">
  <button type="button" class="btn btn-primary">Now</button> &nbsp;
  <button type="button" class="btn btn-light">Yesterday</button> &nbsp;
  <button type="button" class="btn btn-light">2 Days ago</button> &nbsp;
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
    aria-expanded="false">
    Coulmns
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li>Total Cases</li>
    <li>New Cases</li>
    <li>Total Deaths</li>
    <li>New Deaths</li>
    <li>Total Recovered</li>
  </ul>
  <span style="margin-left: 12%;">Search:
    <input type="text">
  </span>
</div>
<div class="all-buttons">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Europe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">North America</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Asia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">South America</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Africa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Oceania</a>
    </li>
  </ul>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Country,Other</th>
        <th scope="col">Total Cases</th>
        <th scope="col">Total Deaths</th>
        <th scope="col">Total Recovered</th>
        <th scope="col">Population</th>
        <th scope="col">Area(sqkm)</th>
        <th scope="col">Life Expectancy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let header of dataSource;let i = index">
        <th scope="row">{{i+1}}</th>
        <td>
          <a href="https://www.worldometers.info/coronavirus/country/{{header.country}}/" target="_blank">
            <strong>
              {{header.country | titlecase}}
            </strong>
          </a>
        </td>
        <td>{{header.confirmed}}</td>
        <td>{{header.deaths}}</td>
        <td>{{header.recovered}}</td>
        <td>{{header['population'] ? header['population'] : '--'}}</td>
        <td>{{header['sq_km_area'] ? header['sq_km_area'] : '--'}}</td>
        <td>{{header['life_expectancy'] ? header['life_expectancy'] : '--'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>